<!DOCTYPE html>
<html lang="fr" layout:decorate="~{layouts/main-layout}">
<head>
    <title>Liste des pizzas</title>
</head>
<body>

    <main layout:fragment="content">

        <div class="row text-center mt-4">
            <h1>CARTES DES PIZZAS</h1>
        </div>

        <section style="background-color: #eee;"></section>
            <div class="container py-5">
                
                <div class="row">
                    <a class="btn btn-primary mb-4" th:href="@{/carte/ajouter}">Ajouter un produit</a>
                    <div class="col-md-6 col-lg-4 mb-4 mb-md-0" th:each="produit : ${produits}" th:insert="~{parts/produit :: produit('carte')}">

                    </div>
                </div>
                
            </div>
        </section>

    </main>    
        
</body>
</html>