<header class="row" th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/carte}">ENIPIZZA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/carte}">Carte</a>
                </div>
                <div class="navbar-nav" th:if="${membre!=null && membre.id>=1 && membre.admin==true}">
                    <a class="nav-link active" aria-current="page" th:href="@{/carte}">Liste des produits</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/carte/ajouter}">Ajouter un produit</a>
                </div>
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" th:href="@{/panier}">Mon panier</a>
                </div>
            </div>
        </div>
    </nav>
</header>