<div class="row" th:fragment="produit">
    <div class="col-sm-2 mb-3 mb-sm-0">
        <div class="card" id="frame">
            <div class="card-body">
                <img class="card-img-top" height="100px" width="100px" src="https://fr.ooni.com/cdn/shop/articles/Margherita-9920.jpg?crop=center&height=800&v=1644590066&width=800" alt="">
                <h5 class="card-title" id="titreProduit" th:text="${produit.nom}"></h5>
                <p class="card-text" th:text="${produit.description}"></p>
                <p class="card-text" id="prixProduit" th:text="${produit.prix+'$'}"></p>
                <button class="btn btn-info">Ajouter</button>
            </div>
        </div>
    </div>
</div>
